@import "css\ modules/fonts.css";
@import "css\ modules/reset.css";
@import "css\ modules/header.css";
@import "css\ modules/breadcrumb.css";
@import "css\ modules/comment.css";
@import "css\ modules/footer.css";
.container {
  width: 100%;
  height: 100vh;
  background-color: var(--primaryLightColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
svg {
  width: 50%;
}
.container h2 {
  color: var(--TextLightColor);
}
.container a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 0.75rem;
  color: var(--TextLightColor);
  background-color: rgb(46 213 115);
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}
.container a:hover {
  background-color: rgb(34 197 94);
}
@media screen and (max-width: 1000px) {
  svg {
    width: 90%;
  }
  .container h2{
    font-size: 1rem;
  }
  .container a{
    width: 90%;
  }
}
