@font-face {
  font-family: IRANSans;
  src: url("../../fonts/IRANSans/IRANSans.ttf");
}
@font-face {
  font-family: Estedad;
  src: url("../../fonts/Estedad/Estedad-Light.ttf");
}
@font-face {
  font-family: CasaBelanca;
  src: url("../../fonts/Morabba-Heavy.ttf");
}
