.my-account-contents {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 15px;
  padding-top: 25px;
}
.content_box {
  min-width: 15rem;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 1rem;
  padding: 8px 8px 8px 30px;
}
.content_box i {
  width: 68px;
  height: 68px;
  border-radius: 1rem;
  background-color: rgb(255 255 255 / 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: #fff;
}
.box-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #fff;
}
.box_title {
  font-size: 0.78rem;
}
.box_desc {
  font-size: 1.1rem;
  font-weight: bold;
}
.cash_labels {
  background-color: rgb(250 204 21);
}
.my_courses {
  background-color: rgb(78 129 251);
}
.tickets {
  background-color: rgb(244 63 94);
}
.account_mony {
  background-color: rgb(46 213 115);
}

/* start my_account_did */
.my_account_did {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 25px;
}
.my_account_did_right_hand {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.last_seen_courses_box {
  padding: 15px 20px;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--session_accordion_body_bg);
}
.last_seen_courses_box span {
  color: var(--TextLightColor);
  font-size: 1.1rem;
  font-weight: bold;
}
.last_seen_courses_box a {
  font-size: 0.85rem;
  background-color: var(--Hover-blue-color);
  color: var(--blueColor);
  text-decoration: none;
  border-radius: 0.75rem;
  padding: 7px 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.last_seen_courses_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.course_box {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--borderColor);
  background: var(--session_accordion_body_bg);
}
.course_box_header {
  width: 100%;
  overflow: hidden;
}
.course_box_header img {
  border-radius: 1rem;
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center !important;
}
.course_box_body {
  margin: 10px;
  border-bottom: 1px solid var(--borderColor);
}
.course_box_body a {
  display: inline-block;
  color: var(--TextLightColor);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.course_box_footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 10px;
  padding-bottom: 10px;
}
.course_seen_time_label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course_seen_time_label span:first-child {
  /* color: var(--SecondTextLightColor); */
  color: var(--TextLightColor);
  font-size: 0.8rem;
}
.course_seen_time_label span:last-child {
  color: var(--SecondTextLightColor);
  font-size: 0.8rem;
}
.range_label {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: var(--borderColor);
  display: flex;
}
.range_label span {
  display: inline-block;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(46 213 115);
}
/* finish my_account_did */
.my_account_did_left_hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.last_tickets_container {
  width: 100%;
  border-radius: 1rem;
  background-color: var(--session_accordion_body_bg);
  padding: 15px 20px;
}
.last_tickets_container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--borderColor);
}
.last_tickets_container_header span {
  color: var(--TextLightColor);
  font-size: 1.1rem;
}
.last_tickets_container_header a {
  font-size: 0.88rem;
  color: var(--blueColor);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.last_tickets_container_body {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.tickets_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  border-radius: 0.75rem;
}
.tickets_box:hover {
  background-color: var(--borderColor);
}
.ticket_name {
  color: var(--TextLightColor);
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ticket_info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ticket_date {
  font-size: 0.8rem;
  color: var(--SecondTextLightColor);
}
.ticket_status {
  text-decoration: none;
  padding: 3px 5px;
  margin: 0 5px;
  font-size: 12px;
  border-radius: 5px;
}
.ticket_status.ended {
  color: var(--category-color);
  background-color: var(--category-bg-color);
}
.ticket_status.answered {
  background-color: rgb(46 213 115 / 0.1);
  color: rgb(46 213 115);
}
/* start my_account_did_left_hand */

/* finish my_account_did_left_hand */
@media screen and (max-width: 1000px) {
  .my-account-contents {
    column-gap: 10px;
    row-gap: 10px;
  }
  .content_box {
    min-width: auto;
    flex-grow: 1;
    padding-left: 8px;
  }
  .box_desc {
    font-size: 0.96rem;
  }
  .ticket_name {
    -webkit-line-clamp: 2;
  }
  .my_account_did_right_hand {
    margin-top: 25px;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .content_box {
    min-width: 15rem;
    flex-grow: 0;
    padding-left: 30px;
  }
  .my_account_did_right_hand {
    margin-top: 0px;
  }
}

@media screen and (max-width: 400px) {
  .content_box {
    flex-grow: 1;
  }
  .content_box i {
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
  }
  .my_account_did {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .last_seen_courses_box a {
    font-size: 0.6rem;
    padding: 7px 10px;
  }
}

@media screen and (min-width: 1400px) {
  .my_account_did {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
