.send_ticket_container {
  width: 100%;
  border-radius: 1rem;
  background-color: var(--session_accordion_body_bg);
  padding: 15px;
}
.send_ticket_container_header {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--borderColor);
}

.send_ticket_container_header span {
  font-size: 1.25rem;
  color: var(--TextLightColor);
  font-weight: bold;
}

.send_ticket_container_body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 25px;
}
.send_ticket_container_body .input_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.send_ticket_container_body .input_box label {
  color: var(--TextLightColor);
  font-size: 1rem;
}
input,
select,
textarea {
  background: var(--comment_background);
  color: var(--TextLightColor);
  border: none;
  padding: 15px;
  border-radius: 0.75rem;
  font-size: 0.95rem;
  border: none;
  outline: none;
}
input::placeholder {
  color: var(--SecondTextLightColor);
}
textarea {
  min-height: 250px;
}
.send_btn {
  padding: 8px 16px;
  border-radius: 0.75rem;
  color: var(--TextLightColor);
  background-color: rgb(46 213 115);
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: flex-end;
}
.send_btn:hover {
  background-color: rgb(34, 197, 94);
}
@media screen and (max-width: 1000px) {
  .send_ticket_container_header {
    padding-bottom: 15px;
  }
  .send_ticket_container {
    padding: 15px !important;
  }
  .send_ticket_container_header span {
    font-size: 1.1rem;
  }
  input,
  select,
  textarea {
    padding: 10px;
  }
}
