// ! Varible ! //
$transition: all 0.2s ease;
$font-size-sm: 13px;
$font-size-md: 15px;
$font-size-lg: 18px;
$font-size-xl: 22px;
$border: 1px solid rgba(131, 131, 131, 0.63);
$succes: rgb(26, 214, 26);
// ! Mixin ! //
@mixin flex($dir: row, $j-c: center, $a-i: center) {
    display: flex;
    justify-content: $j-c;
    align-items: $a-i;
}
@mixin title {
    font-size: $font-size-lg;
    font-family: "lalezar";
}
// ! Reset Styles ! //
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "vazir";
}

a {
    text-decoration: none;
    color: #000;
    &:hover {
        color: #000;
    }
}

ul {
    margin: 0;
    padding: 0;
}

.active-menu {
    position: relative;
    background: rgb(53, 60, 80);
    background: linear-gradient(90deg, rgba(53, 60, 80, 1) 0%, rgba(0, 212, 255, 0) 100%);
    a {
        color: #fff !important;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #4869ff;
        width: 5px;
        height: 100%;
    }
}

.notactive-sidebar {
    transition: $transition;
    #sidebar {
        width: 16.66666667%;
        transition: $transition;
    }
    #home {
        width: 83.33333333%;
        transition: $transition;
    }
}

.active-sidebar {
    #sidebar {
        width: 5%;
        transition: $transition;
        span {
            display: none;
        }
        i {
            padding: 0 !important;
        }
        a {
            padding: 15px 24px !important;
        }
        .sidebar-menu {
            @include flex();
        }
        .sidebar-logo {
            display: none;
        }
        .sidebar-header {
            @include flex();
        }
    }
    #home {
        width: 95%;
        transition: $transition;
    }
}
.radios {
    display: flex;
    div {
        margin: 0 10px;
        label {
            cursor: pointer;
            @include flex();
        }
        input {
            appearance: none;
            cursor: pointer;
            margin-right: 3px;
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid  #2774F5;
            width: 15px;
            height: 15px;
            &:checked {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    width: 9px;
                    height: 9px;
                    background-color: #2774F5;
                    border-radius: 50%;
                }
            }
        }
    }
}
@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir/Vazir.eot");
    src: url("../fonts/Vazir/Vazir.ttf");
    src: url("../fonts/Vazir/Vazir.woff");
    src: url("../fonts/Vazir/Vazir.woff2");
}
@font-face {
    font-family: "lalezar";
    src: url("../fonts/Lalezar-Font/OTF/Lalezar-Regular.otf");
    src: url("../fonts/Lalezar-Font/TTF/Lalezar-Regular.ttf");
}
