// ! SideBar ! //
#sidebar {
    background-color: #17203f;
    height: 100vh;
    position: fixed;
    right: 0;
    .sidebar-header {
        border-bottom: $border;
        @include flex($j-c: space-between);
        .sidebar-logo {
            padding: 15px 25px;
            img {
                width: 70px;
            }
        }
        .sidebar-menu-btn {
            padding: 10px 25px;
            i {
                color: #fff;
                cursor: pointer;
                font-size: $font-size-lg;
            }
        }
    }
    .sidebar-menu {
        margin-top: 40px;
        ul {
            li {
                &:hover {
                    background: rgb(53, 60, 80);
                    background: linear-gradient(90deg, rgba(53, 60, 80, 1) 0%, rgba(0, 212, 255, 0) 100%);
                }
                a {
                    color: #8c90a0;
                    transition: $transition;
                    display: block;
                    padding: 15px 25px;
                    font-size: $font-size-md;
                    &:hover {
                        color: #fff;
                    }
                    i {
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}
// ! End SideBar ! //

// ! Home ! //
#home {
    position: absolute;
    left: 0;
    .home-header {
        @include flex($j-c: space-between);
        margin-top: 20px;
        .home-right {
            @include flex();
            position: relative;
            .home-searchbar {
                position: relative;
                .search-bar {
                    background-color: #eef5fd;
                    border: none;
                    border-radius: 5px;
                    width: 250px;
                    font-size: 13px;
                    padding: 7px 20px;
                    &::placeholder {
                        color: #c4d4e2;
                    }
                }
            }
            .home-notification {
                margin-right: 20px;
                button {
                    border: none;
                    background: transparent;
                    i {
                        font-size: $font-size-lg;
                        color: #a3abb1;
                    }
                }
            }
            .home-notification-modal {
                width: 250px;
                border-radius: 3px;
                background-color: #fff;
                box-shadow: 0px 0px 5px 1px #ccc;
                position: absolute;
                top: 45px;
                left: -120px;
                display: none;
                .home-notification-modal-list {
                    list-style-type: none;
                }
                .home-notification-modal-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #ccc;
                    padding: 10px;
                }
                .home-notification-modal-text {
                    color: #313131;
                    font-size: 13px;
                }
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 50px;
                    height: 20px;
                }
                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 4px;
                    bottom: 2px;
                    background-color: white;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                input:checked + .slider {
                    background-color: #2196f3;
                }

                input:focus + .slider {
                    box-shadow: 0 0 1px #2196f3;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }

                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }
            }
        }
        .home-left {
            .home-profile {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                .home-profile-image {
                    img {
                        width: 50px;
                        border-radius: 50%;
                    }
                }
                .home-profile-name {
                    margin-left: 10px;
                    a {
                        font-size: $font-size-sm;
                        color: #313131;
                    }
                }
                .home-profile-icon {
                    margin-left: 3px;
                    @include flex();
                    i {
                        color: #313131;
                    }
                }
            }
        }
    }
    #home-content {
        margin-top: 15px;
        padding: 15px 10px;
        .home-title {
            padding: 25px 0;
            span {
                @include title();
                font-size: $font-size-xl;
            }
        }
        .form {
            display: flex;
            flex-wrap: wrap;
            .input {
                margin: 5px 15px;
                input {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    border-radius: 3px;
                    border: none;
                    border: 1px solid #a6a6a6;
                    padding: 5px 15px;
                    transition: $transition;
                    &::placeholder {
                        font-size: 13px;
                    }
                    &:focus {
                        border: 1px solid lighten($color: blue, $amount: 30);
                        box-shadow: 0px 0px 5px 0px lighten($color: gray, $amount: 20);
                    }
                }
                .input-title {
                    @include title();
                }
            }
            .bottom-form {
                @include flex($j-c:space-between);
                margin: 5px 15px;
                .condition {
                    .input-title {
                        @include title();
                    }
                   
                }
                .submit-btn {
                    margin-top: 5px;
                    input {
                        background-color: #2774F5;
                        border: none;
                        border-radius: 3px;
                        color: #fff;
                        padding: 5px 20px;
                    }
                }
            }
            .file {
                margin: 5px 15px;
                .input-title {
                    @include title();
                }
                input {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }
            .presell {
                padding: 5px 15px;
                .input-title {
                    @include title();
                }
            }
        }
    }
}
// ! End Home ! //

// ! Content ! //
#content {
    display: flex;
}
// ! End Content ! //
